---
const questions = [
  {
    id: 'faq-1',
    title: 'How long does it typically take to complete a tiling project?',
    answer:
      'Project timelines vary depending on size and complexity. We provide clear estimates during quoting and consultations, ensuring transparency and meeting your projects deadlines efficiently.',
  },
  {
    id: 'faq-2',
    title: 'How do I choose the right tiles for my project?',
    answer:
      'Selecting the right tiles is crucial, and we have experience using a wide range of different tiles and can offer the best recommendations possible. Our tiling experts can guide you through the process. Consider factors such as design aesthetics, durability, and budget. We offer a wide variety of tile options to suit your preferences.',
  },
  {
    id: 'faq-3',
    title: "What tiling services do you offer?",
    answer:
      'We offer a comprehensive range of tiling services, including bathroom tiling, kitchen tiling, floor tiling, wall tiling, outdoor tiling, and more. Our expertise extends to both residential and commercial projects, providing tailored solutions for every space.',
  },
  {
    id: 'faq-4',
    title: "Are your tiling services backed by a warranty?",
    answer:
      'Absolutely! 10 year project warranty / guarentees for all tiling projects. We stand by the quality of our materials and workmanship, and our tiling services come with warranties to provide you with peace of mind and confidence in our work.',
  },
  {
    id: 'faq-5',
    title: 'Can you create custom tiling designs and patterns?',
    answer:
      'Yes, we specialize in custom tiling designs and patterns. Whether you have a unique vision or need creative input, we collaborate closely with you to bring your ideas to life, ensuring a personalized touch to your space.',
  },
  {
    id: 'faq-6',
    title: 'Can you repair or replace existing tiles?',
    answer:
      'Yes, we offer tile repair and replacement services. Whether you have damaged tiles or want to update your space, we can assess the condition and provide the necessary solutions.',
  },
  {
    id: 'faq-7',
    title: 'Can you take on large commercial tiling projects?',
    answer:
      'Absolutely, we work on commercial tiling projects around Brisbane and the Gold Coast. Our team of 5 can be booked to complete large commercial tiling projects, fast and efficiently. With project management by our business owner personally to ensure successful outcomes for large-scale ventures.',
  },
  {
    id: 'faq-8',
    title: 'How do I maintain tiled surfaces?',
    answer:
      'Proper maintenance is key to preserving the beauty and longevity of your tiled surfaces. We can advise you on the best practices for cleaning and maintenance, ensuring your tiles stay in excellent condition for years to come. Luckily, tiles are by far one of the easiest outdoor surfaces for low maintenance',
  },
  {
    id: 'faq-9',
    title: 'What is the total cost of tiling services?',
    answer:
      'Tiling costs can vary based on factors like the type of tiles, the size of the area, and the complexity of the project. We provide transparent pricing during our initial consultation, tailored to your specific needs and budget.',
  },
  {
    id: 'faq-10',
    title: 'Do you offer free tiling consultations from Brisbane to the Gold Coast?',
    answer:
      'Yes, we provide free tiling consultations across Brisbane and the Gold Coast. Our experts are happy to discuss your project, assess your needs, and provide valuable insights and estimates at no cost.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <div>
        <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Frequently asked questions</h2>
      </div>
      <div class="lg:col-span-2">
        <dl
          class="-mt-3"
          x-data="{ selected: null, toggle(value) { this.selected = this.selected === value ? null : value } }"
        >
          {
            questions.map((question, index) => (
              <div
                class="rounded-3xl px-4 transition"
                x-data={`{ id: ${index}, get isOpen() { return this.id === this.selected }, get isNextOpen() { return (this.id + 1) === this.selected } }`}
                x-bind:class="{ 'bg-primary-500/10 dark:bg-primary-400/10': isOpen }"
              >
                <dt
                  class="border-b text-lg transition"
                  x-cloak
                  x-bind:class="{ 'border-transparent': isOpen || isNextOpen, 'border-primary-900/10 dark:border-primary-300/10': !(isOpen || isNextOpen) }"
                >
                  <button
                    type="button"
                    class="group block w-full py-6 text-left transition focus-visible:outline-none"
                    aria-controls={question.id}
                    x-on:click="toggle(id)"
                    aria-expanded="false"
                    x-bind:aria-expanded="isOpen.toString()"
                  >
                    <div class="group-focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200 flex items-center justify-between rounded-3xl group-focus-visible:outline group-focus-visible:outline-2 group-focus-visible:outline-offset-2">
                      <span class="font-medium">{question.title}</span>
                      <span class="ml-6 flex h-7 items-center">
                        <svg
                          class="text-primary-600 dark:text-primary-400 h-6 w-6 rotate-0 transform transition duration-200 ease-in-out"
                          x-bind:class="{ '-rotate-180': isOpen, 'rotate-0': !isOpen }"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                          fill="currentColor"
                          aria-hidden="true"
                        >
                          <path d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z" />
                        </svg>
                      </span>
                    </div>
                  </button>
                </dt>
                <dd class="pb-6 pr-6" id={question.id} x-show="isOpen" x-cloak x-collapse>
                  <p class="text-primary-950/70 dark:text-primary-200/70 text-base">
                    {question.answer}
                  </p>
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
